@font-face {
  font-family: "Lexend";
  src:
    local("Lexend"),
    url("/fonts/Lexend/Lexend-VF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src:
    local("Jost"),
    url("/fonts/Jost/Jost-VF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-feature-settings: "ss01" on;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src:
    local("Jost Italic"),
    local("Jost-Italic"),
    url("/fonts/Jost/Jost-Italic-VF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src:
    local("Figtree"),
    url("/fonts/Figtree/Figtree-VF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src:
    local("Figtree Italic"),
    local("Figtree-Italic"),
    url("/fonts/Figtree/Figtree-Italic-VF.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
