<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="base" content="{{ config.base_url }}">
<meta http-equiv="Permissions-Policy" content="interest-cohort=(), accelerometer=(), ambient-light-sensor=(), battery=(), bluetooth=(), browsing-topics=(), camera=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(), gamepad=(), geolocation=(), gyroscope=(), hid=(), identity-credentials-get=(), idle-detection=(), magnetometer=(), microphone=(), midi=(), otp-credentials=(), payment=(), picture-in-picture=(), publickey-credentials-create=(), publickey-credentials-get=(), serial=(), storage-access=(), sync-xhr=(), usb=(), web-share=(), window-management=(), xr-spatial-tracking=()" />

{# Metadata #}
{% if page.extra.meta %}
  {% for data in page.extra.meta %}
    <meta {% for key, value in data %} {{ key }} None="{{ value }}" {% endfor %}>
  {% endfor %}
{% endif %}

{# Title #}
{%- if page.title -%}
  {%- set title = page.title -%}
{%- elif section.title -%}
  {%- set title = section.title -%}
{%- else -%}
  {%- set title = config.title -%}
{%- endif -%}
{%- if title != "QuacK" -%}
  {%- set title = title ~ " – " ~ config.title -%}
{%- endif -%}

<title>{{ title | escape }}</title>
<meta property="og:title" content="{{ title | striptags }}">
<meta name="twitter:title" content="{{ title | striptags }}">

{# Description #}
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="twitter:description" content="{{ page.description }}">
{% elif config.description %}
  <meta name="description" content="{{ config.description }}">
  <meta property="og:description" content="{{ config.description }}">
  <meta property="twitter:description" content="{{ config.description }}">
{% endif %}

{# Favicon #}
{% if page.extra.favicon.path %}
  <link
    rel="icon"
    type="{{ page.extra.favicon.type | default(value="image/png") | safe }}"
    href="{{ page.extra.favicon.path }}">
{% elif config.extra.favicon.path %}
  <link
    rel="icon"
    type="{{ config.extra.favicon.type | default(value="image/svg") | safe }}"
    href="{{ config.extra.favicon.path }}">
{% endif %}

{# Style #}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ get_url(path="fonts.css") }}">
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ get_url(path="main.css") }}">

{# RSS #}
<link rel="alternate"
  type="application/atom+xml"
  title="{{ config.title }}"
  href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

{# JavaScript #}
<script src="/js/nav.js" defer></script>
