<header style="view-transition-name: 'header'">
  <a href="/"
    ><img class="header-logo" src="/assets/logo.svg" alt="QuacK Logo"
  /></a>

  {% if config.extra.nav.items %}
    <nav class="desktop" style="view-transition-name: 'nav'">
      <ul class="nav-items">
        {% for item in config.extra.nav.items %}
          <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <a href="/events" role="button" class="cta desktop"
    ><span class="symbol" aria-hidden="true">calendar_month</span>
      Events</a
  >

  <button aria-label="Menü öffnen" class="mobile" id="nav-modal-open">
    <span class="symbol" aria-hidden="true">menu</span>
  </button>
</header>

<dialog id="nav-modal" class="nav-modal">
  <section class="nav-modal-content" >
    <div class="nav-modal-header">
      <h2>QuacK</h2>
      <button id="nav-modal-close" aria-label="Menü schließen">
        <span class="symbol" aria-hidden="true">close</span>
      </button>
    </div>

    <hr>

    {% if config.extra.nav.items %}
      <ul class="nav-items">
        {% for item in config.extra.nav.items %}
          <li><a href="{{ item.path }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    <a href="/events" role="button" class="cta desktop"
      ><span class="symbol" aria-hidden="true">calendar_month</span>
      Events</a
    >
  </section>
</dialog>
