:root {
  --font-lexend: "Lexend";
  --font-jost: "Jost";
  --font-outfit: "Outfit";

  --font-title: var(--font-lexend), sans-serif;
  --font-subtitle: var(--font-jost), sans-serif;
  --font-heading: var(--font-jost), sans-serif;
  --font-body: var(--font-outfit), sans-serif;
}
