$foreground: color-mix(in oklab, black 60%, var(--accent-medium) 80%);
$foreground-light: color-mix(in oklab, white 90%, var(--accent-medium) 20%);
$background: var(--accent);
$background-hover: color-mix(in oklab, var(--accent) 90%, black 20%);

footer {
  height: calc(var(--logo-height) * 2);
  width: 100%;
  background-color: color-mix(in oklab, var(--background) 80%, black 10%);
  display: flex;
  justify-content: center;
  align-items: center;

  nav,
  .nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      padding: 0 calc(var(--logo-height) / 3 * 2);

      a {
        transition: color 0.3s ease 0s;
        text-decoration: none;
        font-weight: 500;
        color: var(--text-black);
        cursor: pointer;

        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}
