body,
html {
  margin: 0;
  padding: 0;
}

main {
  margin: var(--logo-height);

  @media (max-width: $mobile-desktop-breakpoint) {
    & {
      margin: calc(var(--logo-height) / 2);
    }
  }
}

div.spacer {
  height: var(--logo-height);
}

div.content {
  width: min(100%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $mobile-desktop-breakpoint) {
  .mobile {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: $mobile-desktop-breakpoint) {
  .desktop {
    display: none;
    visibility: hidden;
  }
}
