body,
html {
  margin: 0;
  padding: 0;
}

main {
  margin: var(--logo-height);

  @media (max-width: $breakpoint-compact) {
    & {
      margin: calc(var(--logo-height) / 2);
    }
  }
}

div.spacer {
  height: var(--logo-height);
}

div.content {
  width: min(100%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-compact) {
  .compact {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: $breakpoint-compact) {
  .not-compact {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .medium {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: $breakpoint-medium) {
  .not-medium {
    visibility: hidden;
  }
}

@media (min-width: $breakpoint-expanded) {
  .expanded {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: $breakpoint-expanded) {
  .not-expanded {
    visibility: hidden;
    display: none;
  }
}
