$mobile-desktop-breakpoint: 961px;

:root {
  --title-size: calc(1em * 2.6 / 1.1);
  --subtitle-size: calc(var(--title-size) * 1.7 / 2.6);

  --logo-scaling-factor: 1.2;
  --logo-height: calc(var(--title-size) * var(--logo-scaling-factor));
  --logo-width: calc(var(--logo-height) * 1.4);
  --pulse-height: calc(var(--logo-height) / 7);
  --pulse-radius: calc(var(--pulse-height) / 2);
}
