$selection-bg: color-mix(in oklab, var(--accent) 30%, transparent 70%);
$selection-fg: var(--text);

::-moz-selection {
  color: $selection-fg;
  background: $selection-bg;
}

::selection {
  color: $selection-fg;
  background: $selection-bg;
}

body {
  font-family: var(--font-body);
  font-size: var(--text-size);

  &,
  button,
  p,
  span,
  div {
    color: var(--text);
    -webkit-tap-highlight-color: color-mix(
      in oklab,
      var(--accent) 30%,
      transparent 70%
    );
  }

  p {
    font-size: 1.1em;
  }
}

a {
  color: var(--accent-medium);
}
