{% extends "base.html" %}

{% block head %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="og:type" content="article" />

  {% if page.extra.image.path %}
    <meta name="og:image" content="{{ get_url(path=page.extra.image.path) }}" />
    <meta name="twitter:image" content="{{ get_url(path=page.extra.image.path) }}" />

    {% if page.extra.image.alt %}
      <meta name="og:image:alt" content="{{ page.extra.image.alt }}" />
      <meta name="twitter:image:alt" content="{{ page.extra.image.alt }}" />
    {% endif %}
  {% endif %}

  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{{ get_url(path="pages/event.css") }}" />
{% endblock head %}

{% block content %}

<div class="content">
{% if page.title %}
<div class="title-block pulse">
  <h1 class="title">{{ page.title }}</h1>

  {% if page.description %}
  <h2 class="subtitle">{{ page.description }}</h2>
  {% endif %}
</div>
{% endif %}

<section class="event-content">
{% if page.extra.image and page.extra.image.path %}

  {% if page.extra.image.alt %}
    <img
      alt="{{ page.extra.image.alt }}"
      src="{{ page.extra.image.path | safe }}"
    >
  {% else %}
    <p style="color: var(--error)">{{ "No alt text provided! Please specify `extra.image-alt`" | markdown(inline=true) | safe }}</p>
  {% endif %}

{% endif %}

{{ page.content | safe }}
</section>
</div>

{% endblock content %}
