{% extends "base.html" %}

{% block head %}
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="article">

  {% if page.extra.image.path %}
    <meta property="og:image" content="{{ get_url(path=page.extra.image.path) }}">
    <meta name="twitter:image" content="{{ get_url(path=page.extra.image.path) }}">

    {% if page.extra.image.alt %}
      <meta property="og:image:alt" content="{{ page.extra.image.alt }}">
      <meta name="twitter:image:alt" content="{{ page.extra.image.alt }}">
    {% endif %}
  {% endif %}

  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{{ get_url(path="pages/event.css") }}">
{% endblock head %}

{% block content %}

<div class="content" itemscope itemtype="http://schema.org/Event">
{% if page.title %}
<div class="title-block pulse">
  <h1 itemprop="name" class="title">{{ page.title }}</h1>

  {% if page.description %}
  <h2 itemprop="description" class="subtitle">{{ page.description }}</h2>
  {% endif %}
</div>
{% endif %}

<section class="event-content">

  <table class="medium">
    <tbody>
      <tr>
        <th scope="row"><span class="symbol" aria-hidden="true">event</span>Datum</th>
        <td><time datetime="{{ page.date }}">{{ page.date | date(format="%-d. %B %Y", locale="de_AT") }}</time></td>
      </tr>
      {% if "T" in page.date %}
      <tr>
        <th scope="row"><span class="symbol" aria-hidden="true">schedule</span>Uhrzeit</th>
        <td>
          <time itemprop="startDate" datetime="{{ page.date }}">{{ page.date | date(format="%H:%M", locale="de_AT") }}</time>
          {%- if page.extra.end_date and "T" in page.extra.end_date -%}
            &ndash;<time itemprop="endDate" datetime="{{ page.extra.end_date }}">{{ page.extra.end_date | date(format="%H:%M", locale="de_AT") }}</time>
          {%- endif -%}
        </td>
      </tr>
      {% endif %}
      {% if page.extra.location %}
      <tr>
        <th scope="row"><span class="symbol" aira-hidden="true">map</span>Ort</th>
        <td><span itemscope itemtype="https://schema.org/Place">
          <span itemprop="name">{{ page.extra.location | safe }}</span>
        </span></td>
      </tr>
      {% endif %}
    </tbody>
  </table>

  <table class="not-medium">
    <colgroup span="2" id="col-date" />
    {% if "T" in page.date %} <colgroup span="2" id="col-time" /> {% endif %}
    {% if page.extra.location %} <colgroup span="2" id="col-location" /> {% endif %}
    <tbody>
     <tr>
       <th scope="colgroup"><span class="symbol" aria-hidden="true">event</span>Datum</th>
       <td><time datetime="{{ page.date }}">{{ page.date | date(format="%-d. %B %Y", locale="de_AT") }}</time></td>

       {% if "T" in page.date %}
         <th scope="colgroup"><span class="symbol" aria-hidden="true">schedule</span>Uhrzeit</th>
         <td>
           <time datetime="{{ page.date }}">{{ page.date | date(format="%H:%M", locale="de_AT") }}</time>
           {%- if page.extra.end_date and "T" in page.extra.end_date -%}
             &ndash;<time datetime="{{ page.extra.end_date }}">{{ page.extra.end_date | date(format="%H:%M", locale="de_AT") }}</time>
           {%- endif -%}
         </td>
       {% endif %}
       {% if page.extra.location %}
         <th scope="colgroup"><span class="symbol" aira-hidden="true">map</span>Ort</th>
         <td>{{ page.extra.location | safe }}</td>
       {% endif %}
     </tr>
  </table>

  <div aria-hidden="true" class="spacer"></div>

  {{ page.content | safe }}

  {% if page.extra.image and page.extra.image.path %}
    <div aria-hidden="true" class="spacer"></div>

    {% if page.extra.image.alt %}
      <img
        itemprop="image"
        alt="{{ page.extra.image.alt }}"
        src="{{ page.extra.image.path | safe }}"
      >

      {% if event.extra.image.description %}
        <span class="sr-only-focusable">Bildbeschreibung: {{ event.extra.image.description }}</span>
      {% endif %}
    {% else %}
      <p style="color: var(--error)">{{ "No alt text provided! Please specify `extra.image-alt`" | markdown(inline=true) | safe }}</p>
    {% endif %}

  {% endif %}

</section>
</div>

{% endblock content %}
