{% extends "base.html" %}

{% block head %}
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="article">

{% if page.extra.image.path %}
  <meta property="og:image" content="{{ get_url(path=page.extra.image.path) }}">
  <meta name="twitter:image" content="{{ get_url(path=page.extra.image.path) }}">

  {% if page.extra.image.alt %}
    <meta property="og:image:alt" content="{{ page.extra.image.alt }}">
    <meta name="twitter:image:alt" content="{{ page.extra.image.alt }}">
  {% endif %}
{% endif %}

<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{{ get_url(path="pages/event.css") }}">

{% if page.extra.redirect.url %}

  <link rel="canonical" href="{{ page.extra.redirect.url | safe }}">
  <script>location="{{ page.extra.redirect.url | safe }}"</script>
  <meta http-equiv="refresh" content="0; url={{ page.extra.redirect.url | safe }}">
  <meta name="robots" content="noindex">

{% endif %}
{% endblock head %}

{% block content %}
<h1>Du wirst weitergeleitet&hellip;</h1>

{% if page.extra.redirect.url %}
  <a href="{{ page.extra.redirect.url | safe }}">Klicke hier, wenn du nicht automatisch weitergeleitet wurdest.</a>
{% endif %}
{% endblock content %}
