.event-content {
  img {
    width: min(100%, 600px);
    max-width: 100%;
    border-radius: var(--pulse-radius);
  }

  table {
    font-size: calc(var(--text-size) * 1.1);
    border-collapse: separate;
    border-radius: var(--pulse-radius);
    border: 2px solid var(--accent);

    &.medium {
      border-spacing: 2em 1.4em;

      th {
        word-break: keep-all;
        white-space: nowrap;
        word-wrap: normal;
        hyphens: none;
        colum-width: 1fr;
      }

      tr {
        column-width: auto;
      }

      @media (max-width: var(--breakpoint-compact)) {
        & {
          width: 100%;
        }
      }
    }

    &.not-medium {
      border-spacing: 1em 1.4em;

      td {
        padding-right: 2em;
      }

      tr td:last-child {
        padding-right: 0em;
      }
    }

    th {
      text-align: start;

      .symbol {
        margin-right: 0.25em;
      }
    }
  }
}
