.content {
  width: min(100%, 1200px);
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  height: var(--logo-height);
}

.event-content {
  img {
    width: min(100%, 600px);
    max-width: 100%;
    border-radius: var(--pulse-radius);
  }
}
