{% extends "base.html" %}

{% block head %}
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{{ get_url(path="sections/events.css") }}">
{% endblock head %}

{% block content %}
<div class="content">

{% if section.title %}
<div class="title-block pulse">
  <h1 class="title">{{ section.title }}</h1>

  {% if section.description %}
  <h2 class="subtitle">{{ section.description }}</h2>
  {% endif %}
</div>
{% endif %}

{% set time_now = now() | date(format="%s") | int %}

<section>
  {{ section.content | safe }}
</section>

<div class="spacer"></div>

<section>
  <h2>Kommende Events</h2>

  <ul class="events-list">

  {% for event in section.pages | reverse %}
  {% set time_event = event.date | date(format="%s") | int %}

  {% if time_event >= time_now %}

  <li class="event-item">

    {# Check for image and assure alt text #}

    {% if event.extra.image.path %}

      {% if event.extra.image.alt %}
        <img
          alt="{{ event.extra.image.alt }}"
          src="{{ event.extra.image.path | safe }}"
        >

        {% if event.extra.image.description %}
          <span class="sr-only-focusable">Bildbeschreibung: {{ event.extra.image.description }}</span>
        {% endif %}
      {% else %}
        <p style="color: var(--error)">{{ "No alt text provided! Please specify `extra.image.alt`" | markdown(inline=true) | safe }}</p>
      {% endif %}

    {% endif %}

    <article>
      <h4 class="event-title"><a href="{{ event.path }}">{{ event.title }}</a></h4>

      {% if event.summary %}
        {{ event.summary | safe }}
      {% elif event.description %}
        {{ event.description | markdown() | safe }}
      {% endif %}

      <hr>

      <div class="info-block">
        {# Check if date contains time #}
        {% set date_format = "%-d. %B %y" %}
        {% if "T" in event.date %} {% set date_format = date_format ~ ", %H:%M" %} {% endif %}

        <time datetime="{{ event.date }}" class="date"><span class="symbol" aria-hidden="true">event</span>{{ event.date | date(format=date_format, locale="de_AT") }}</time>

        {% if event.extra.location %}
          <address><span class="symbol" aria-hidden="true">map</span>{{ event.extra.location }}</address>
        {% endif %}
      </div>
    </article>
  </li>

  {% endif %}
  {% endfor %}
  </ul>
</section>

<div class="spacer"></div>

<section>
  <h2>Vergangene Events</h2>

  <ul class="events-list">

  {% for event in section.pages | reverse %}
  {% set time_event = event.date | date(format="%s") | int %}

  {% if time_event < time_now %}

  <li class="event-item">

    {# Check for image and assure alt text #}

    {% if event.extra.image.path %}

      {% if event.extra.image.alt %}
        <img
          alt="{{ event.extra.image.alt }}"
          src="{{ event.extra.image.path | safe }}"
        >

        {% if event.extra.image.description %}
          <span class="sr-only-focusable">Bildbeschreibung: {{ event.extra.image.description }}</span>
        {% endif %}
      {% else %}
        <p style="color: var(--error)">{{ "No alt text provided! Please specify `extra.image.alt`" | markdown(inline=true) | safe }}</p>
      {% endif %}

    {% endif %}

    <article>
      <h4 class="event-title"><a href="{{ event.path }}">{{ event.title }}</a></h4>

      {% if event.summary %}
        {{ event.summary | safe }}
      {% elif event.description %}
        {{ event.description | markdown() | safe }}
      {% endif %}

      <hr>

      <div class="info-block">
        {# Check if date contains time #}
        {% set date_format = "%-d. %B %y" %}
        {% if "T" in event.date %} {% set date_format = date_format ~ ", %H:%M" %} {% endif %}

        <time datetime="{{ event.date }}" class="date"><span class="symbol" aria-hidden="true">event</span>{{ event.date | date(format=date_format, locale="de_AT") }}</time>

        {% if event.extra.location %}
          <address><span class="symbol" aria-hidden="true">map</span>{{ event.extra.location }}</address>
        {% endif %}
      </div>
    </article>
  </li>

  {% endif %}
  {% endfor %}
  </ul>
</section>

</div>
{% endblock content %}
