{% extends "base.html" %}

{% block head %}
  <meta name="keywords" content="quack,queer,jku,linz,jku queer">
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{{ get_url(path="sections/home.css") }}">

  <meta name="twitter:card" content="summary">

  <meta name="og:image" content="{{ get_url(path="/img/default-preview.webp") }}">
  <meta name="twitter:image" content="{{ get_url(path="/img/default-preview.webp") }}">

  <meta name="og:image:alt" content="Das QuacK Logo mit dem Text QuacK – Queere Uni-Angehörige an der JKU">
  <meta name="twitter:image:alt" content="Das QuacK Logo mit dem Text QuacK – Queere Uni-Angehörige an der JKU">
{% endblock head %}


{% block content %}

<section class="cover">
  <div class="title-block pulse">
    <h1 class="title">{{ section.title }}</h1>

    {% if section.description %}
    <h2 class="subtitle">{{ section.description }}</h2>
    {% endif %}
  </div>
</section>

{% endblock content %}
