<!doctype html>
<html lang="{% if page.lang %}{{ page.lang }}{% elif section.lang %}{{ section.lang }}{% else %}{{ config.default_language }}{% endif %}" prefix="og: http://ogp.me/ns#">
  <head>
    {% include "partials/head.html" %}
    {% block head %} {% endblock head %}
  </head>

  <body>
    {% include "partials/header.html" %}
    <div class="main">
      {% block pre_content %} {% endblock pre_content %}
      <main>
        {% block content %} {% endblock content %}
      </main>
    </div>
    {% include "partials/footer.html" %}
  </body>
</html>
